@import "tailwindcss";

:root {
  --font-size: 16px;
  
  /* PALETA JUXA ACTUALIZADA */
  --background: #000000;         /* Negro Puro de tu paleta (#000000) */
  --foreground: #F5F5DC;         
  
  --primary: #2755c2;            /* Azul Eléctrico vibrante - Principal */
  --primary-foreground: #FFFFFF;
  
  --secondary: #00b386;          /* Morado Lavanda - Acentos secundarios */
  --secondary-foreground: #FFFFFF;

  --card: #0A0A0A;               
  --border: rgba(0, 179, 134, 0.2); /* Borde azul muy sutil */
  --sidebar: #050505;            
  --muted-foreground: #008ead;   /* Azul Grisáceo para textos secundarios */

  --accent-blue: #2755c2;        /* Azul Cielo para botones o enlaces */
  --light-blue: #9DC6DF;         /* Azul Claro para fondos sutiles */
  
  --radius: 0.8rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-sidebar: var(--sidebar);
  --color-accent-blue: var(--accent-blue);
  --color-light-blue: var(--light-blue);
}

/* Barra de desplazamiento refinada estilo Tech */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* Usamos tu azul primario con mucha transparencia por defecto */
  background: rgba(39, 85, 194, 0.1); 
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Efecto Hover: se vuelve más nítida al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 85, 194, 0.4);
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(39, 85, 194, 0.1) transparent;
}

@layer base {
  html {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    html {
      font-size: 16px; 
    }
  }
  * { @apply border-border; }
  body { 
    @apply bg-background text-foreground antialiased font-sans;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    min-height: 100svh;
    font-size: 1rem; 
    line-height: 1.6; 
  }
}